<div class='container'>
  <h1>Dicionario JP- PT do mavmaso</h1>
  <h2><%= flash[:error] %></h2>
  
  Jishobr é um dicionario de portugues japones.

Alguns exemplo do que você pode procurar aqui:
<ul>
  <li>Great English search: house</li>
  <li>Text reading assistance: 昨</li>
  <li>Inflection information: 走</li>
  <li>Multi word search: 日 sunli</li>
  <li>JLPT N3 adjectives: #jlpt-n</li>
  <li>Grade 1 jōyō kanji: #grad</li>
  <li>Common words that end with </li>
  <li>Convert Japanese years: 昭</li>
  <li>Convert Japanese numbers: </li>
</ul>

Logo teremos mais funções por aqui, não deixa de visitar tambem <a href="http://skdesu.com">skdesu.com</a>

</div>
