<div class='container'>
  <h2><%= flash[:error] %></h2>
  <h1>Dicionario JP- PT do mavmaso</h1>

  Jishobr é um dicionario de portugues japones.

Alguns exemplos do que você pode procurar aqui:
<ul>
  <li>Somente algumas palavras ja foram adicionadas tais como:</li>
  <ul>
    <li>tatoeba, たとえば, 例えば</li>
    <li>omiyage, おみやげ, お土産</li>
    <li>au, あう, 会う</li>
    <li>etc</li>
  </ul>
  <li>Jishobr e um dicionario tanto de palavras como de kanji, procure por exemplo, 例, e veja o resultado</li>
  <li> Ainda estamos trabalhando para entregar mais funcoes no Jishobr </li>
</ul>

Logo teremos mais funções por aqui, não deixa de visitar tambem <a href="http://skdesu.com">skdesu.com</a>

</div>
